{% extends 'base.html' %}

{% block body %}

<section class="hero is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title has-text-warning">
                About PGH Jobs Today
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="content">
        <section class="section">

            <h3>What is this website?</h3>
            <p>
                While searching for my next job, I got fed up with fake job listings, spammy job boards, and endless scrolling. I built this website to help others in Pittsburgh find real job opportunities without that hassle.
            </p>

            <h3>How do I apply for jobs shown on this website?</h3>
            <p>
                Simply browse our listings, click on a job that interests you, and follow the instructions to apply. They should link directly to the employer's website.
            </p>

            <h3>Is this website free to use?</h3>
            <p>
                ABSOLUTELY YES. I strongly believe job seekers should NOT be paying money to find a job. Although I can't provide any free job training or anything like that, searching for job openings on this website is completely free.
            </p>

            <h3>Who made this website and why?</h3>
            <p>
                I'm just another guy who lives in Pittsburgh who got laid off. I work as a software engineer, and this is the kind of thing I can easily churn out over a weekend. If you're interested in hiring me, feel free to <a href="https://hunj.dev/" target="_blank">contact me</a>.
            </p>

            <h3>This website sucks, lemme help out.</h3>
            <p>
                Hell yeah. You can find this website's repo on GitHub. File an Issue, or hit me up with a Pull Request.
            </p>

        </section>
    </div>
</div>


{% endblock %}