{% extends 'base.html' %}

{% block body %}
<section class="hero is-yellow is-bold has-background-dark">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-warning">
                Pittsburgh Jobs Today
            </h1>
            <h2 class="subtitle has-text-light">
                Search through real job openings, no fake/spam postings.
            </h2>
            <div class="column is-8 is-offset-2">
                {% include 'components/search_cta.html' %}
            </div>
        </div>
    </div>
</section>


<section class="section has-background-light">
    <div class="columns container">
        <div class="column">
            <div class="card p-3">
                <div class="card-image has-text-centered is-size-1">
                    <i class="fa fa-paw"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Hand-Picked Listings</h4>
                        <p class="has-text-weight-light">
                            Searching jobs is easy, but real job openings are hard to come across. Go through job openings, hand-picked exclusively by our team.<br />
                        </p>
                        <a href="{% url 'about' %}">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card p-3">
                <div class="card-image has-text-centered is-size-1">
                    <i class="fa fa-hourglass"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Feedback System</h4>
                        <p class="has-text-weight-light">
                            Our team monitors and filters each job posting to ensure that only quality jobs are listed on this website.
                        </p>
                        <a href="{% url 'about' %}">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section container content">
    <p>
        No more doomscrolling through irrelevant postings throughout your job hunting -- browse through tailored job listings to help you get closer to your dream role. Whether you're an experienced professional or just starting your career journey, our website is designed with you in mind. Find your next dream <strong>remote job</strong> to continue your career journey, or check out <strong>freelance positions</strong> and <strong>quick paid gigs</strong> that are updated daily.
    </p>
    <p>
        Much like the Japanese word <strong>"ai" (愛)</strong> symbolizes deep connection and care, we are committed to helping you find a role that fits not only your skills but also your passion. Whether you're seeking a <strong>remote job</strong>, <strong>freelance gig</strong>, or <strong>full-time opportunity</strong>, we combine the best of both worlds: <strong>AI-enhanced job search experience</strong>, with personalized touch.
    </p>
    <p>
        Explore meaningful careers with us—because finding the right job should feel less like a burden and more like finding something you love.
    </p>

    <hr />

    <div class="column is-8 is-offset-2">
        {% include 'components/search_cta.html' %}
    </div>
</section>


{% endblock %}